spacy==2.0.18
en_core_web_sm==2.3.1
spacy-langdetect==0.1.2
wordcloud==1.8.1
gensim==3.8.3
matplotlib==3.1.2
numpy==1.17.3
pandas==0.25.3
ujson==4.0.2
jsonschema==3.2.0
regex==2018.1.10
nltk==3.5
contractions==0.0.48
pyLDAvis==3.1.0
bs4==0.0.1
plotnine==0.7.1
selenium==3.141.0
vaderSentiment==3.3.2
seaborn==0.9.0
urlib==1.25.7